.profile__avatar-button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  width: 120px;
  height: 120px;
  cursor: pointer;
  position: relative;
}

.profile__avatar-button:hover::after {
  content: '';
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("../../../images/pencil-big.svg");
  background-position: center;
  background-repeat: no-repeat;
}
