.profile-edit__personal {
  margin: 0;
  max-width: 430px;
  box-sizing: border-box;
  gap: 30px;
  width: 100%;
  background-color: #fff;
  border: 0;
  padding: 34px 36px 37px 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

@media screen and (max-width: 508px) {
  .profile-edit__personal {
    padding: 25px 22px;
  }
  
}