.popup__container {
  display: flex;
  flex-direction: column;
  min-width: 282px;
  position: absolute;
}

@media screen and (max-width: 508px) {
  .popup__container {
    width: calc(100% - 38px);
    gap: 16px;
  }
}
