.profile__about {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 536px) {
  .profile__about {
    max-width: 282px;
    font-size: 14px;
    line-height: 14px;
  }
}
