.profile-edit__save {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 18px;
  padding-top: 14px;
  padding-bottom: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  border-radius: 2px;
  cursor: pointer;
}

.profile-edit__save:hover {
  opacity: .8;
}

@media screen and (max-width: 508px) {
  .profile-edit__save {
    padding-bottom: 14px;
    margin-top: 15px;
  }

}
