.element__info {
  margin: 0;
  padding: 22px 20px 22px 21px;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  display: grid;
  grid-template-columns: calc(100% - 22px) 22px;
  grid-template-rows: repeat(2, max-content);
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  gap: 3px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  grid-template-areas: "name like"
                       "name likes-number";
}
